__pycache__/
*.dds
*.ttf
*.otf
*.ttc
*.png
*.sti
*.ps1
*.BIN
*.ini
texconv.exe

JMBS/
dds_font/
modded_dds_font/
font/
jmks/
stis/
subtitles/
tutorial_hardcoded/
tvs/
ripScript/

assets/raw_text/

testFont.py
chore.py
dumpJMB.py
scratch.py
OCR_zan.py
testFont.sti
