*
!IDA_Related/**
!assets/
!assets/**
!.gitignore

!README.md

!DDSTool.py
!fontTool.py
!jmbConst.py
!jmbData.py
!jmbNumeric.py
!jmbStruct.py
!jmbUtils.py
!k7FileList.py
!tasks.py

!genOrder01.py
!genTVKana.py